<html>
    <head>
        <meta charset="utf-8">
        <meta http=equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>RDG at UPS</title>
        <style>
        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        body {
            text-align: center;
        }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>RDG at UPS</h1>
        {% block body %}{% endblock %}
    </body>
</html>
